.wp-block-matts-map {
}

.gb-map-test-map-container {
	max-width: 700px;
	min-height: 300px;
}

.gb-map-test-map-container .mapboxgl-canvas {
	outline: none !important;
	box-shadow: none !important;
}

.gb-map-test .mapboxgl-ctrl-compass,
.gb-map-test-map-container .mapboxgl-ctrl-compass {
	display: none !important;
}

.gb-map-test-map-container,
.editor-block-list__block[data-type="mattheu/gb-map-test"] .mattheu-gb-map-test-map-container {
	min-height: 300px;
	width: 100%;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

.gb-map-test-map-container[data-height="medium"],
.editor-block-list__block[data-type="mattheu/gb-map-test"][data-height="medium"] .mattheu-gb-map-test-map-container {
	height: 400px;
}

.gb-map-test-map-container[data-height="large"],
.editor-block-list__block[data-type="mattheu/gb-map-test"][data-height="large"] .mattheu-gb-map-test-map-container {
	height: 600px;
}

.gb-map-test-map-container[data-align="left"],
.gb-map-test-map-container[data-align="right"],
.editor-block-list__block[data-type="mattheu/gb-map-test"][data-align="left"],
.editor-block-list__block[data-type="mattheu/gb-map-test"][data-align="right"] {
	min-width: 33%;
	max-width: 66%;
}

.gb-map-test-map-container[data-align="left"],
.editor-block-list__block[data-type="mattheu/gb-map-test"][data-align="left"] {
	float: left;
	margin-right: 14px;
}

.gb-map-test-map-container[data-align="right"],
.editor-block-list__block[data-type="mattheu/gb-map-test"][data-align="right"] {
	float: right;
	margin-right: 14px;
}

.gb-map-test-map-container[data-align="wide"],
.editor-block-list__block[data-type="mattheu/gb-map-test"][data-align="wide"] {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.gb-map-test-map-container[data-align="full"],
.editor-block-list__block[data-type="mattheu/gb-map-test"][data-align="full"] {
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}


.gb-map-test {
	margin: 0 0 1.5em 0;
}

.editor-block-list__block[data-type="mattheu/gb-map-test"] .gb-map-test {
	margin: 0;
}

.gb-map-test-caption {
	margin-top: 0.5em;
	color: #8f98a1;
	text-align: center;
	font-size: 13px;
}

/*
This isn't working... because after typing the .is-selected class is removed and the controls dissapear.
Maybe there's a way around that!
*/
.gb-map-test[data-focused="false"] .mapboxgl-ctrl-geocoder,
.gb-map-test[data-focused="false"] .gb-map-test-container--no-scroll .mapboxgl-ctrl-zoom-in,
.gb-map-test[data-focused="false"] .gb-map-test-container--no-scroll .mapboxgl-ctrl-zoom-out,
.gb-map-test[data-focused="false"] .mapboxgl-ctrl-geolocate,
.gb-map-test[data-focused="false"] .gb-map-test-new-point-ctrl {
	display: none;
}
